---
import Heading from '../heading/Heading.astro';
import HeadingFE from '../heading/HeadingFE.astro';
import HeadingBE from '../heading/HeadingBE.astro';
import { fetchPortfolio, getFileUrl } from '@/lib/directus';
import PortfolioCarousel from './PortfolioCarousel.astro';

const portfolio = await fetchPortfolio();

const web = await Promise.all(
  portfolio
    .filter((p) => p.type === 'web')
    .map(async (p) => ({
      ...p,
      image: await getFileUrl(p.image, { width: '500' }),
      tech_stack: await Promise.all(
        p.tech_stack.map(async (t) => ({
          ...t.skill_set_id,
          logo: await getFileUrl(t.skill_set_id.logo, { height: '25' }),
        })),
      ),
    })),
);
const api = await Promise.all(
  portfolio
    .filter((p) => p.type === 'api')
    .map(async (p) => ({
      ...p,
      image: await getFileUrl(p.image, { width: '500' }),
      tech_stack: await Promise.all(
        p.tech_stack.map(async (t) => ({
          ...t.skill_set_id,
          logo: await getFileUrl(t.skill_set_id.logo, { height: '25' }),
        })),
      ),
    })),
);
const cli = await Promise.all(
  portfolio
    .filter((p) => p.type === 'cli')
    .map(async (p) => ({
      ...p,
      image: await getFileUrl(p.image, { width: '500' }),
      tech_stack: await Promise.all(
        p.tech_stack.map(async (t) => ({
          ...t.skill_set_id,
          logo: await getFileUrl(t.skill_set_id.logo, { height: '25' }),
        })),
      ),
    })),
);
const bot = await Promise.all(
  portfolio
    .filter((p) => p.type === 'bot')
    .map(async (p) => ({
      ...p,
      image: await getFileUrl(p.image, { width: '500' }),
      tech_stack: await Promise.all(
        p.tech_stack.map(async (t) => ({
          ...t.skill_set_id,
          logo: await getFileUrl(t.skill_set_id.logo, { height: '25' }),
        })),
      ),
    })),
);
---

<section id='portfolio' class='min-h-[100svh] bg-[#18202a]'>
  <div class='container mx-auto pb-24 pt-10 md:pb-32 md:pt-20'>
    <Heading>Portfolio</Heading>
    <div class='space-y-10'>
      <div>
        <HeadingFE>Web</HeadingFE>
        <PortfolioCarousel portfolios={web} />
      </div>
      <div>
        <HeadingBE>"API"</HeadingBE>
        <PortfolioCarousel portfolios={api} />
      </div>
      <div>
        <h3 class='mb-4 font-mono text-xl font-extrabold md:text-3xl'>CLI</h3>
        <PortfolioCarousel portfolios={cli} />
      </div>
      <div>
        <h3 class='mb-4 font-mono text-xl font-extrabold md:text-3xl'>Bot</h3>
        <PortfolioCarousel portfolios={bot} />
      </div>
    </div>
  </div>
</section>
