---
import { fetchAbout, getFileUrl } from '@/lib/directus';
import Heading from '@/components/heading/Heading.astro';
import Education from './Education.astro';
import WorkExperience from './WorkExperience.astro';
import { Image } from 'astro:assets';

const { photo, description } = await fetchAbout();
const photoUrl = getFileUrl(photo, { width: '400', height: '400' });
---

<section class='min-h-[100dvh] bg-[#18202a]' id='about'>
  <div class='container mx-auto space-y-8 pb-24 pt-10 md:pb-32 md:pt-20'>
    <div>
      <Heading>About</Heading>
      <div class='flex flex-col gap-10 md:flex-row md:gap-16'>
        <div class='mx-auto w-1/2 md:w-1/4'>
          <Image
            src={photoUrl}
            alt='Foto gweh'
            height='400'
            width='400'
            class='rounded-full'
          />
        </div>
        <div class='md:w-3/4'>
          <p class='whitespace-pre-line text-justify text-gray-300 md:text-lg'>
            {description}
          </p>
        </div>
      </div>
    </div>
    <div>
      <Education />
    </div>
    <div>
      <WorkExperience />
    </div>
  </div>
</section>
