---
import { fetchAbout, getFileUrl } from '@/lib/directus';
import Heading from '@/components/Heading.astro';
import Education from '@/components/about/Education.astro';

const { photo, description } = await fetchAbout();
const photoUrl = getFileUrl(photo);
---

<section class='min-h-[100dvh] bg-gray-800' id='about'>
  <div class='container mx-auto py-20'>
    <Heading>About</Heading>
    <div class='flex gap-16'>
      <div class='w-1/4'>
        <img
          src={photoUrl}
          alt='Foto gweh'
          height='400'
          width='400'
          class='rounded-full'
        />
      </div>
      <div class='w-3/4'>
        <p class='whitespace-pre-line text-justify text-lg text-gray-300'>
          {description}
        </p>
      </div>
    </div>
    <Education />
  </div>
</section>
