---
import Heading from '@/components/heading/Heading.astro';
import { fetchWorkExperience } from '@/lib/directus';

const workExperiences = await fetchWorkExperience();

const dateMonthFormatter = Intl.DateTimeFormat('en-US', {
  month: 'short',
  year: 'numeric',
});

function formatDateString(date: string) {
  return dateMonthFormatter.format(new Date(date));
}
---

<Heading>WorkExperience</Heading>
<div class='relative col-span-12 space-y-6 px-4 sm:col-span-9'>
  <div
    class='relative col-span-12 space-y-12 px-4 before:bg-gray-700 sm:col-span-8 sm:space-y-8 sm:before:absolute sm:before:-left-3 sm:before:bottom-0 sm:before:top-2 sm:before:w-0.5'
  >
    {
      workExperiences.map((exp) => (
        <div class='flex flex-col before:bg-teal-300 sm:relative sm:before:absolute sm:before:left-[-35px] sm:before:top-2 sm:before:z-[1] sm:before:h-4 sm:before:w-4 sm:before:rounded-full'>
          <h3 class='text-2xl font-bold'>{exp.company_name}</h3>
          <p class='text-lg italic text-gray-400'>{exp.role}</p>
          <time class='text-lg text-gray-400'>
            {formatDateString(exp.time_span_start)} -{' '}
            {exp.time_span_end
              ? formatDateString(exp.time_span_end)
              : 'present'}
          </time>
          {exp.job_desk.length > 0 && (
            <ul class='ml-6 mt-3 list-disc text-lg text-gray-300'>
              {exp.job_desk.map((job) => (
                <li>{job}</li>
              ))}
            </ul>
          )}
        </div>
      ))
    }
  </div>
</div>
