<h3 class='mb-4 font-mono text-2xl font-extrabold md:text-3xl'>
  <span class='text-indigo-500'>{'{ '}</span>
  <span class='text-teal-300'> {'"type":'}</span>
  <slot />
  <span class='text-indigo-500'>{' }'}</span>
</h3>
