<h3 class='mb-4 text-3xl font-extrabold'>
  <span class='text-indigo-500'>{'{ '}</span>
  <span class='text-teal-300'> {'"type"'}</span>
  <span class='-ml-1 mr-1 text-indigo-500'>{':'}</span>
  <slot />
  <span class='text-indigo-500'>{' }'}</span>
</h3>
