<h3 class='mb-4 font-mono text-3xl font-extrabold text-indigo-500'>
  const
  <span class='text-teal-300'>
    {'{ '}
  </span>
  <span class='text-trueGray-100'>
    <slot />
  </span>
  <span class='text-teal-300'>
    {' }'}
  </span>
  <span class='text-trueGray-100'>=</span>
  <span class='text-orange-300'>await</span>
  <span class='text-teal-300'>getSkillSet()</span>
</h3>
