---
import Layout from '@/layouts/Layout.astro';
import Header from '@/components/Header.astro';
import Hero from '@/components/Hero.astro';
import About from '@/components/about/About.astro';
import SkillSet from '@/components/skill-set/SkillSet.astro';
import Portfolio from '@/components/portfolio/Portfolio.astro';
import Certifications from '@/components/Certifications.astro';
import Footer from '@/components/Footer.astro';
---

<Layout title='Taufik Hidayat - Backend Developer'>
  <main>
    <Header />
    <Hero />
    <About />
    <SkillSet />
    <Portfolio />
    <Certifications />
    <Footer />
  </main>
</Layout>
