---
import Layout from '@/layouts/Layout.astro';
import Header from '@/components/Header.astro';
import Hero from '@/components/Hero.astro';
import About from '@/components/About.astro';
---

<Layout title='Taufik Hidayat - Portfolio Website'>
  <main>
    <Header />
    <Hero />
    <About />
  </main>
</Layout>
