<header class='fixed inset-x-0 top-0 z-50 bg-gray-900/75 py-5 backdrop-blur'>
  <div class='container mx-auto flex items-center'>
    <span class='text-2xl font-bold'>TFKHDYT</span>
    <div class='mx-auto space-x-8 pr-24 text-lg font-semibold'>
      <a href='#home'>Home</a>
      <a href='#about'>About</a>
      <a href='#skill'>Skill Set</a>
      <a href='#portfolio'>Portfolio</a>
      <a href='#contact'>Contact</a>
    </div>
  </div>
</header>
