<header class='container mx-auto flex items-center py-10 sticky top-0'>
  <span class='font-bold text-2xl'>TFKHDYT</span>
  <div class='mx-auto font-semibold space-x-8 pr-24 text-lg'>
    <a href='#home'>Home</a>
    <a href='#about'>About</a>
    <a href='#skill'>Skill Set</a>
    <a href='#portfolio'>Portfolio</a>
    <a href='#contact'>Contact</a>
  </div>
</header>
