---
import { fetchHome, getFileUrl } from '@/lib/directus';

const result = await fetchHome();
const fullName = result.full_name.replace(' ', '');
const imageUrl = getFileUrl(result.image);
const cvUrl = getFileUrl(result.cv);
---

<section
  class='container mx-auto flex min-h-[100dvh] flex-col justify-center space-y-6 text-center'
>
  <img
    src={imageUrl}
    alt='tfkhdyt logo'
    width='150'
    height='150'
    class='mx-auto mb-4'
  />
  <h2 class='text-5xl font-extrabold'>
    Hi, I'm <span class='text-indigo-500'>{'<'}</span>{fullName}
    <span class='text-indigo-500'>{' />'}</span>
  </h2>
  <h3 class='mx-auto max-w-lg text-xl font-light text-gray-300'>
    {result.description}
  </h3>
  <div>
    <a
      href={cvUrl}
      download
      class='mx-auto mt-4 w-fit bg-teal-300 px-4 py-3 font-semibold text-black hover:bg-teal-400'
    >
      Download CV
    </a>
  </div>
</section>
