---
import '@fontsource-variable/nunito';
import '@fontsource-variable/nunito/wght-italic.css';
import '@fontsource-variable/jetbrains-mono';

import '@/styles/globals.css';

type Props = {
  title: string;
};

const { title } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class='dark relative bg-gray-900 text-trueGray-100'>
    <slot />
  </body>
</html>
<style>
  :root {
    color-scheme: dark;
  }
</style>
