---
import '@fontsource-variable/nunito';
import '@fontsource-variable/nunito/wght-italic.css';
import '@fontsource-variable/jetbrains-mono';

import { SEO } from 'astro-seo';

import '@/styles/globals.css';

type Props = {
  title: string;
};

const { title } = Astro.props;
---

<!doctype html>
<html lang='en' class='overflow-x-hidden'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <SEO
      title={title}
      description="Hello, world! My name is Taufik Hidayat. I'm a Full Stack Developer, Computer Science Student, YouTuber, Free and Open Source Software Enthusiast, and GNU/Linux Nerd."
    />
  </head>
  <body class='dark overflow-x-hidden bg-gray-900 text-trueGray-100'>
    <slot />
    <style>
      :root {
        color-scheme: dark;
      }

      html {
        scroll-behavior: smooth;
      }
    </style>
  </body>
</html>
